/* Coolors Exported Palette - https://coolors.co/d1c6ad-bbada0-a1869e-797596-0b1d51 */

/* CSS */
--bone: hsla(42, 17%, 82%, 1);
--pale-silver: hsla(29, 14%, 73%, 1);
--mountbatten-pink: hsla(307, 17%, 63%, 1);
--rhythm: hsla(247, 22%, 59%, 1);
--royal-blue-dark: hsla(225, 86%, 32%, 1);

/* SCSS HEX */
$bone: #d1c6adff;
$pale-silver: #bbada0ff;
$mountbatten-pink: #a1869eff;
$rhythm: #797596ff;
$royal-blue-dark: #0b1d51ff;

/* SCSS HSL */
$bone: hsla(42, 17%, 82%, 1);
$pale-silver: hsla(29, 14%, 73%, 1);
$mountbatten-pink: hsla(307, 17%, 63%, 1);
$rhythm: hsla(247, 22%, 59%, 1);
$royal-blue-dark: hsla(225, 86%, 32%, 1);

/* SCSS RGB */
$bone: rgba(209, 198, 173, 1);
$pale-silver: rgba(187, 173, 160, 1);
$mountbatten-pink: rgba(161, 134, 158, 1);
$rhythm: rgba(121, 117, 150, 1);
$royal-blue-dark: rgba(11, 29, 81, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #d1c6adff, #bbada0ff, #a1869eff, #797596ff, #0b1d51ff);
$gradient-right: linear-gradient(90deg, #d1c6adff, #bbada0ff, #a1869eff, #797596ff, #0b1d51ff);
$gradient-bottom: linear-gradient(180deg, #d1c6adff, #bbada0ff, #a1869eff, #797596ff, #0b1d51ff);
$gradient-left: linear-gradient(270deg, #d1c6adff, #bbada0ff, #a1869eff, #797596ff, #0b1d51ff);
$gradient-top-right: linear-gradient(45deg, #d1c6adff, #bbada0ff, #a1869eff, #797596ff, #0b1d51ff);
$gradient-bottom-right: linear-gradient(135deg, #d1c6adff, #bbada0ff, #a1869eff, #797596ff, #0b1d51ff);
$gradient-top-left: linear-gradient(225deg, #d1c6adff, #bbada0ff, #a1869eff, #797596ff, #0b1d51ff);
$gradient-bottom-left: linear-gradient(315deg, #d1c6adff, #bbada0ff, #a1869eff, #797596ff, #0b1d51ff);
$gradient-radial: radial-gradient(#d1c6adff, #bbada0ff, #a1869eff, #797596ff, #0b1d51ff);