<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='./assets/css/main.css') }}" />
    <title>Road Runner Game</title>
</head>
<style>
    #main {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat( {{ gameRow }} , 1fr);
        grid-template-rows: repeat( {{ gameCol }} , 1fr);
        width: 60%;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
        grid-row-gap: 2em;

    }

    img {
        width: 60%;

    }
</style>

<body>
    <div id="topbar">
        <h1>Road Runner Game</h1>
        <p>Get to the finish point while maximizng your energy points</p>
        <p>Score:</p>
    </div>
    <div id="main">
        {% for x in images %}
        <img src="{{ x }}">
        {% endfor %}


    </div>
    <script src="{{ url_for('static', filename='./static/script/imageClass.js') }}"></script>
</body>