<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>CSS Grid</title>
</head>
<style>
    #main {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        width: 60%;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
        grid-row-gap: 2em;

    }  
    img{
        width: 60%;
        
    }
</style>
<body>
    <div id="main">
        <img src="../static/assets/images/gold.jpg">
        <img src="../static/assets/images/gold.jpg">
        <img src="../static/assets/images/gold.jpg">
        <img src="../static/assets/images/gold.jpg">
        <img src="../static/assets/images/gold.jpg">
        <img src="../static/assets/images/gold.jpg">
        <img src="../static/assets/images/gold.jpg">
        <img src="../static/assets/images/gold.jpg">
        <img src="../static/assets/images/gold.jpg">
    </div>
</body>
</html>